DOMAIN_NAME=

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD_FILE=
MTSQL_ROOT_PASSWORD_FILE=

WP_TITLE=
WP_ADMIN_USER=
WP_ADMIN_EMAIN=
WP_ADMIN_PASSWORD_FILE=
WP_USER=
WP_USER_EMAIL=
WP_USER_PASSWORD=

FTP_USER=
FTP_PASSWORD_FILE=
